.lh43 {
  line-height: 43px;
}
.lh19 {
  line-height: 19px;
}
.fz40 {
  font-size: .3rem;
}
.fz36 {
  font-size: .29rem;
}
.fz34 {
  font-size: .28rem;
}
.fz33 {
  font-size: .27rem;
}
.fz30 {
  font-size: .26rem;
}
.fz26 {
  font-size: .24rem;
}
.fz24 {
  font-size: .23rem;
}
.fz20 {
  font-size: .22rem;
}
.fz {
  font-size: .15rem;
}
.fzs {
  font-size: .1rem;
}
.fz2 {
  font-size: .2rem;
}
.fz5 {
  font-size: .5rem;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.flex {
  display: flex;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.f {
  display: flex;
}
.bai {
  width: 100%;
}
.yahei {
  font-family: "Microsoft YaHei";
}
.tc {
  text-align: center;
}
.br5 {
  border-radius: 50%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.m0 {
  margin: 0;
}
.m20 {
  margin: 20px;
}
.p0 {
  padding: 0;
}
.of {
  overflow: hidden;
}
.liangduan {
  justify-content: space-between;
}
.itemsc {
  align-items: center;
}
.bn {
  border: none;
}
.wushi {
  width: 50%;
}
.borb {
  border-bottom: 1px solid #e1e5e7;
}
.ml2 {
  margin-left: 20px;
}
.aic {
  align-items: center;
}
.nowrap {
  flex-wrap: nowrap;
}
.wnowrap {
  white-space: nowrap;
}
.jz {
  margin: 0 auto;
}
.wushi {
  width: 50%;
}
.bgn {
  background: none;
}
.on {
  outline: none;
}
.p0 {
  padding: 0;
}
.tn {
  text-decoration: none;
}
.maxw {
  max-width: 640px;
}
.maxb {
  max-width: 100%;
}
.czjz {
  transform: translateY(-50%);
}
.spjz {
  transform: translateX(-50%);
}
