.abs{ position:absolute; }
@300:300px;
@5:5px;
@b:lightblue;
.fz{ font-size:36px; }
@100:100px;
@w:white;
@15:15px;
.db{ display:block; }
.di{ display:inline; }
.dib{ display:inline-block; }
.flex{ display:flex; }
.rel{ position:relative; }
.fix{ position:fixed; }
.f{ display:flex; }
.bai{ width:100%; }
.yahei{ font-family:"Microsoft YaHei"; }
.tc{ text-align:center; }
.radius(@radius:5px) {
  border-radius:@radius;
}
.border(@1:1px;) {
  border:@1 solid #999;
}
.fl{ float:left; }
.fr{ float:right; }