body {
line-height:1.4;
color:#333;
font-family:"Microsoft YaHei";
font-size:12px;
}

input, textarea, select {
font-size:100%;
font-family:inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
margin:0;
}

h4, h5, h6 {
font-size:1em;
}

ul, ol {
padding-left:0;
list-style-type:none;
}

img {border:0;}
/* 重置链接a标签 */
a {color:#666;text-decoration:none}
/* 重置链接a标签的鼠标滑动效果 */
a:active, a:hover {text-decoration:none}
