html
{
    font-family: 'Microsoft YaHei';
}

p
{
    margin: 0;
    padding: 0;
}

.header
{
    color: white;
    background: #1d7ad9;
}

.header .col-xs-12
{
    display: flex;

    justify-content: space-between;
}

.header p
{
    line-height: 2.5rem;
}

.header a
{
    line-height: 2.5rem;

    display: inline-block;

    width: 4rem;

    text-align: center;

    color: white;
    border-left: 1px solid white;
}

.header a:hover
{
    color: black;
    background: white;
}

.head
{
    height: 100px;

    background: #f9f9f9;
}


.head .col-xs-12
{
    display: flex;

    height: 100px;

    justify-content: space-between;
    align-items: center;
}

.head img
{
    width: 100%;
    max-width: 97px;
}

#btn1
{
    display: none;
}

.menutwo
{
    display: none;
}

.btn-default:hover
{
    color: white;
    background: #1d7ad9;
}

.btn
{
    margin: 0 10px;

    border: none;
    box-shadow: 1px 1px 2px #ccc;
}

.progress
{
    height: 5px;
    margin: 50px 0 0;

    background: #ccc;
}

.content .col-xs-3
{
    text-align: center;
}

.progress-bar
{
    background: orange;
}

.circular
{
    display: block;

    width: 20px;
    height: 20px;
    margin: -12px auto 15px;

    color: white;
    border: none;
    border-radius: 50%;
    background: orange;
}

.content .col-xs-3 p
{
    font-size: 1.5rem;

    color: orange;
}

.customized
{
    font-size: 1.5rem;

    margin: 40px 0 20px;
    padding-left: 10px;

    border-left: 3px solid #1d7ad9;
}

.information
{
    border: 1px solid #e8e8e8;
}

.captioncontent
{
    font-size: 1.5rem;

    padding: 10px 0 10px 10px;

    color: #1d7ad9;
}

.box
{
    display: inline-block;

    width: 20px;
    height: 15px;
    margin: 0 10px -3px 0;

    background: url(../../images/10-1.png) no-repeat;
    background-position: -36px 0;
    background-size: 95px;
}

.inforcontent form
{
    padding: 20px 0;
}

form label
{
    font-weight: 500;

    margin: 15px 20px;
}

.ruler
{
    display: inline-block;

    width: 22px;
    height: 20px;
    margin: 0 10px -5px 0;

    background: url(../../images/10-1.png) no-repeat;
    background-position: -74px 0;
    background-size: 95px;
}

.cut
{
    display: inline-block;

    width: 18px;
    height: 19px;
    margin: 0 10px -5px 0;

    background: url(../../images/10-1.png) no-repeat;
    background-position: 0 0;
    background-size: 95px;
}

.inforcontent
{
    display: flex;

    background: #fbfcff;

    justify-content: space-between;
    align-items: center;
}

.inforcaption
{
    background: #f4f4f4;
}

.number
{
    width: 5rem;
    margin: 0 5px;
}

.see
{
    font-weight: 500;

    margin: 0 10px;
}

.next
{
    display: flex;

    height: 200px;

    align-items: center;
    justify-content: center;
}

.btn-danger
{
    width: 150px;
}

.wechat
{
    display: flex;
    flex-direction: row-reverse;
}

.tel
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.footbottom
{
    overflow: hidden;

    text-align: center;

    color: white;
    background: #1d7ad9;
}

.foottop a
{
    display: inline-block;

    margin: 5px;
}

.wuyi
{
    font-size: 2rem;

    color: #999;
}

.foottop
{
    padding: 50px 0;

    background: #f9f9f9;
}

footer
{
    margin-top: 40px;
}

.see select
{
    font-size: 16px;

    width: 110px;
    height: 34px;
    padding: 5px;

    border: 1px solid #ccc;
    background: transparent;

    -webkit-appearance: none;
} /*for chrome*/

.see
{
    width: 120px;
    height: 34px;
    margin-right: 10px;

    background: url(../../images/daoshanjiao.png) no-repeat 82px 4px;
}
