html {
font-family:"Microsoft YaHei";
}

p {
margin:0;
padding:0;
}

.header {
background:#1d7ad9;
color:white;
}

.header .col-xs-12 {
display:flex;
justify-content:space-between;
}

.header p {line-height:2.5rem;}

.header a {
width:4rem;
text-align:center;
line-height:2.5rem;
color:white;
display:inline-block;
border-left:1px solid white;
}

.header a:hover {
background:white;
color:black;
}

.head {
height:100px;
background:#f9f9f9;
}


.head .col-xs-12 {
display:flex;
justify-content:space-between;
align-items:center;
height:100px;
}

.head img {
width:100%;
max-width:97px;
}

#btn1 {display:none;}

.menutwo {display:none;}

.btn-default:hover {
background:#1d7ad9;
color:white;
}

.btn {
margin:0 10px;
border:none;
box-shadow:1px 1px 2px #ccc;}

.progress {
margin:50px 0 0;
height:5px;
background:#ccc;
}

.content .col-xs-3 {
text-align:center;
}

.progress-bar {
background:orange;
}

.circular {
display:block;
margin:-12px auto 15px;
width:20px;
height:20px;
color:white;
background:orange;
border-radius:50%;
}

.content .col-xs-3 p {
font-size:1.5rem;
color:orange;
}

.customized {
margin:40px 0 20px;
padding-left:10px;
font-size:1.5rem;
border-left:3px solid #1d7ad9;
}

.information {
border:1px solid #e8e8e8;
}

.captioncontent {
padding:10px 0 10px 10px;
font-size:1.5rem;
color:#1d7ad9;
}

.box {
margin:0 10px -3px 0;
display:inline-block;
width:20px;
height:15px;
background:url(../images/10-1.png) no-repeat;
background-position:-36px 0;
background-size:95px;
}

.inforcontent form {
padding:20px 0;
}

form label {
margin:15px 20px;
font-weight:500;
}

.ruler {
margin:0 10px -5px 0;
display:inline-block;
width:22px;
height:20px;
background:url(../images/10-1.png) no-repeat;
background-position:-74px 0;
background-size:95px;
}

.cut {
margin:0 10px -5px 0;
display:inline-block;
width:18px;
height:19px;
background:url(../images/10-1.png) no-repeat;
background-position:0 0;
background-size:95px;
}

.inforcontent {
display:flex;
justify-content:space-between;
align-items:center;
background:#fbfcff;
}

.inforcaption {background:#f4f4f4;}

.number {
margin:0 5px;
width:5rem;
}

.see {
margin:0 10px;
font-weight:500;
}

.next {
display:flex;
align-items:center;
justify-content:center;
height:200px;
}

.btn-danger {width:150px;}

.wechat {
display:flex;
flex-direction:row-reverse;
}

.tel {
display:flex;
flex-direction:column;
justify-content:space-between;
}

.footbottom {
background:#1d7ad9;
color:white;
text-align:center;
overflow:hidden;
}

.foottop a {
display:inline-block;
margin:5px;
}

.wuyi {
font-size:2rem;
color:#999;
}

.foottop {
padding:50px 0;
background:#f9f9f9;
}

footer {margin-top:40px;}

.see select {
background: transparent;
width: 110px;
padding: 5px;
font-size: 16px;
border: 1px solid #ccc;
height: 34px;
-webkit-appearance: none;} /*for chrome*/

.see {
margin-right:10px;
width: 120px;
height: 34px;
background: url(../images/daoshanjiao.png) no-repeat 82px 4px;
}
