.navigation
{
    display: none;
}

#btn1
{
    display: block;

    border: 1px solid #999;
    border-radius: 10px;
    background: #1d7ad9;
}

.menutwo
{
    display: block;
}

#myTabb
{
    display: none;
}

.nav-tabs > li > a
{
    text-align: center;

    color: black;
    border: 1px solid #999;
    border-radius: 5px;
}

.nav-tabs > li > a:hover
{
    color: white;
    background: #1d7ad9;
}

.navbar-toggle
{
    margin-right: 0;
}

.information form
{
    display: flex;
    flex-direction: column;

    margin-left: 20px;

    align-items: center;
}

.wechat
{
    display: flex;

    justify-content: space-between;
}

.wechat > img
{
    display: block;
}
