<!doctype html>
<html ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <!--<script src="http://www.yiibai.com/js/angular.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>-->
    <!--<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
    <script src="//cdn.bootcss.com/angular.js/1.3.18/angular.js"></script>
<body ng-controller="PhoneListController">

<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7]"><td>{{i*2}}</td></tr>
</table>
<p> Two times <input ng-model="num"> equals {{ double(num) }}</p>
<div>
    <p>Good {{timeOfDay}}, {{name}}!</p>

    <div ng-controller="PhoneListController">
        <p>Good {{timeOfDay}}, {{name}}!</p>

        <div ng-controller="PhoneListControllerChild">
            <p>Good {{timeOfDay}}, {{name}}!</p>
        </div>
        </div>
</div>
<script>
    // Define the `phonecatApp` module
    var phonecatApp = angular.module('phonecatApp', []);

    // Define the `PhoneListController` controller on the `phonecatApp` module
    phonecatApp.controller('PhoneListController', ['$scope',function($scope) {
        $scope.timeOfDay = 'morning';
        $scope.name = 'Nikki';
    }]);
    phonecatApp.controller('PhoneListController', ['$scope', function($scope) {
        $scope.name = 'Mattie';
    }]);
    phonecatApp.controller('PhoneListControllerChild', ['$scope', function($scope) {
        $scope.timeOfDay = 'evening';
        $scope.name = 'Gingerbread Baby';
    }]);

</script>
</body>
</html>