@import (reference)"../sky";
@import (reference)"../zxxg";

/*通用设置*/
html {
  .maxw;
  .jz;
  font-size:625%
}
body{
  .maxw;

}
header{
  .fix;
  top:0;
  .flex;
  .bai;
  .maxw;
  height:93px;
  background-color:@lb;
  .liangduan;
  .itemsc;
  border-bottom:1px solid #74d4eb;
  z-index:999;
  button{
    .m20;
    .on;
  }
  .menu{
    width:7%;
    padding-top:8%;
    background:url(../../images/back.png) no-repeat;
    background-size:70%;
  }
  .clos{
    width:8%;
    padding-top:8%;
    background:url(../../images/close.png) no-repeat;
    background-size:100%;
  }
  p {
    .fz3;
    color:@w;
    margin:5%;
  }
}
.placeholder{height:93px;}
main{
  background:#f0f0f0;
  overflow:auto;
}
.main{
  .rel;
  margin:3% 1% 1% 1%;
  //margin-bottom:165px;
  height:688px;
  background:@w;
  overflow:auto;
  .bdc;
}
footer{
  .fix;
  bottom:0;
  .pct100;
  max-width:640px;
  background:@lb;
}
#go {
  margin:5%;
  padding:5%;
  .pct90;
  background:#ffc438;
  .fz3;
  color:white;
}
//.hide{display:none;}
//#one{display:none;}
#first{
  padding:20px;
  .pct100;
  .fz2;
  color:@lb;
  background:url(../../images/down.png) no-repeat;
  background-position:95%;
  background-color:@w;
  .bbc;
  .on;
}
#one {
  .pct100;
  .left{
    .abs;
    top:66px;
    left:50px;
    height:90%;
    .blc;
  }
  button {
    .db;
    .rel;
    margin:20px auto 0 20%;
    padding:20px 0;
    .pct70;
    .fz2;
    color:@w;
    background:#24a7c6;
    .on;
    span{
      .db;
      .abs;
      top:50%;
      left:-20px;
      .czjz;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 20px solid #24a7c6;
      border-bottom: 13px solid transparent;
    }
  }
  #kill {
    margin-bottom:60px;
    b{
      .db;
      .abs;
      top:50%;
      left:-100px;
      .czjz;
      width:50px;
      height:50px;
      background:@w;
      border-radius:50%;
      .bdc;
      img{
        margin-top:7px;
      }
    }
  }
  #ghost{
    b{
      .db;
      .abs;
      top:50%;
      left:-100px;
      .czjz;
      width:50px;
      height:50px;
      background:@w;
      border-radius:50%;
      .bdc;
      img{
        margin-top:7px;
      }
    }
  }
}
