/*通用设置*/
html {
  max-width: 640px;
  margin: 0 auto;
  font-size: 625%;
}
header {
  position: fixed;
  *zoom: 1;
  top: 0;
  display: flex;
  width: 100%;
  max-width: 640px;
  height: 93px;
  background-color: #29bde0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #74d4eb;
  z-index: 999;
}
header button {
  margin: 20px;
  outline: none;
}
header .menu {
  width: 7%;
  padding-top: 8%;
  background: url(../../images/back.png) no-repeat;
  background-size: 70%;
}
header .clos {
  width: 8%;
  padding-top: 8%;
  background: url(../../images/close.png) no-repeat;
  background-size: 100%;
}
header p {
  font-size: 0.3rem;
  color: white;
  margin: 5%;
}
.placeholder {
  height: 93px;
}
.main {
  position: relative;
  height: 716px;
  background: white;
  overflow: auto;
}
footer {
  position: fixed;
  *zoom: 1;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  background: #29bde0;
}
#go {
  margin: 5%;
  padding: 5%;
  width: 90%;
  background: #ffc438;
  font-size: 0.3rem;
  color: white;
}
