.fz36 {
  font-size: 36px;
}
.fz34 {
  font-size: 34px;
}
.fz26 {
  font-size: 26px;
}
.fz24 {
  font-size: 24px;
}
.fz {
  font-size: 1.5rem;
}
.fzs {
  font-size: 1rem;
}
.fz2 {
  font-size: 2rem;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.flex {
  display: flex;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.f {
  display: flex;
}
.bai {
  width: 100%;
}
.yahei {
  font-family: "Microsoft YaHei";
}
.tc {
  text-align: center;
}
.br5 {
  border-radius: 50%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.m0 {
  margin: 0;
}
.m20 {
  margin: 20px;
}
.p0 {
  padding: 0;
}
.of {
  overflow: hidden;
}
.liangduan {
  justify-content: space-between;
}
.itemsc {
  align-items: center;
}
.bn {
  border: none;
}
.wushi {
  width: 50%;
}
.borb {
  border-bottom: 1px solid #e1e5e7;
}
.ml2 {
  margin-left: 20px;
}
.aic {
  align-items: center;
}
.nowrap {
  flex-wrap: nowrap;
}
.wnowrap {
  white-space: nowrap;
}
.jz {
  margin: 0 auto;
}
.wushi {
  width: 50%;
}
.bgn {
  background: none;
}
.on {
  outline: none;
}
.p0 {
  padding: 0;
}
.tn {
  text-decoration: none;
}
.maxw {
  max-width: 640px;
}
.czjz {
  transform: translateY(-50%);
}
.spjz {
  transform: translateX(-50%);
}
body {
  font-size: 1.5rem;
  font-family: "Microsoft YaHei";
  margin: 0;
  background: #eff0f4;
}
header {
  display: flex;
  padding: 25px 0;
  width: 100%;
  color: white;
  background: #5fc0cd;
  justify-content: space-between;
  align-items: center;
}
header .close {
  padding-left: 30px;
}
header .register {
  padding-right: 30px;
}
.main .maintop {
  margin-top: 15px;
  display: flex;
  overflow: hidden;
  background: white;
}
.main .maintop img {
  padding-right: 45px;
  margin: 30px;
  border-right: 1px solid #ccc;
}
.main .maintop input {
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  border: none;
}
footer button {
  margin-top: 69px;
  text-align: center;
  border: none;
  background: #5fc0cd;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  padding: 25px;
  color: white;
}
footer p {
  color: #5fc0cd;
  float: right;
  margin: 20px 30px 0 0;
}
