<img src="../images/luoli.gif">
<div class="login">
    <h3 class="title">喝我水站后台登录</h3>
    <form name="go" novalidate>
        <label>
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-yonghu"></use></svg>
            <input type="text"
                    ng-model="userName"
                    name="userName"
                    ng-minlength="5"
                    pattern="^[A-Za-z\d\S]+$"
                    placeholder="用户名"
                    required/>
        </label>
        <div ng-messages="go.userName.$error" ng-if="go.userName.$touched">
            <p ng-message="required">请输入账号</p>
            <p ng-message="minlength">账号最少为5位</p>
            <p ng-message="pattern">账号为字母或数字</p>
        </div>
        <label>
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-suo"></use></svg>
            <input ng-model="password"
                    type="password"
                    name="password"
                    maxlength="12"
                    ng-minlength="5"
                    placeholder="密码"
                    required>
        </label>
        <div ng-messages="go.password.$error" ng-if="go.password.$touched">
            <p ng-show="go.password.$error.required">请输入密码</p>
            <p ng-show="go.password.$error.minlength">密码最少为5位</p>
            <p ng-show="go.password.$error.pattern">账号为字母或数字</p>
        </div>
    </form>

    <span></span>
    <button ng-disabled="go.$invalid" ng-model="login" ng-click="login()" id="login">登录</button>

</div>