/*=========mF_tbhuabao========*/
.mF_tbhuabao
{
    overflow: visible;

    margin-left: 10px;

    border: 10px solid #333;
    background: #ddd;
}
.mF_tbhuabao .pic,
.mF_tbhuabao .pic ul
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
}
.mF_tbhuabao .pic li
{
    position: relative;

    float: left;
    overflow: hidden;
}
.mF_tbhuabao .txt li
{
    line-height: 38px;

    position: absolute;
    z-index: 2;

    display: none;

    width: 100%;
    height: 38px;
}/*默认标题高度*/
.mF_tbhuabao .txt li a
{
    font-size: 14px;
    font-weight: bold;

    position: relative;
    z-index: 1;

    display: block;

    padding-left: 16px;

    text-decoration: none;

    color: #fff;
}/*标题样式*/
.mF_tbhuabao .txt li b
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;

    filter: alpha(opacity=30);
}
.mF_tbhuabao .dot
{
    line-height: 28px;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 32px;

    text-align: center;
}
.mF_tbhuabao .dot li
{
    display: inline;

    margin: 0 3px;
}
.mF_tbhuabao .dot li a
{
    font-size: 26px;

    -webkit-transition: color .4s;
       -moz-transition: color .4s;
         -o-transition: color .4s;
    text-decoration: none;

    color: #999;
}
.mF_tbhuabao .dot li.current a
{
    color: #f60;
}
.mF_tbhuabao .prev,
.mF_tbhuabao .next
{
    font: 700 53px/58px arial;

    position: absolute;
    z-index: 4;
    left: -20px;

    overflow: hidden;

    width: 37px;
    height: 65px;

    cursor: pointer;

    background: url(img/mF_tbhuabao/btn-bg.gif) no-repeat;
}
.mF_tbhuabao .next
{
    right: -20px;
    left: auto;
}
.mF_tbhuabao .prev a,
.mF_tbhuabao .next a
{
    display: block;

    text-align: center;
    text-decoration: none;

    color: #bbb;
}
.mF_tbhuabao .prev a:hover,
.mF_tbhuabao .next a:hover
{
    color: #f60;
}
