<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.6.1/angular.js"></script>

    <!--<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.6.1/angular-animate.js"></script>
</head>
<body ng-controller="indexCtrl">
<h4>下拉内容</h4>
<div class="col-sm-6">
    <!--close-others="oneAtATime" 点开本项目，其他项目闭合-->
    <uib-accordion close-others="oneAtATime">
        <!--&lt;!&ndash;heading="第一个头部" 头部内容&ndash;&gt;-->
        <!--<div uib-accordion-group class="panel-default" heading="第一个头部">-->
            <!--第一个头部-->
            <!--<button type="button" class="btn btn-default btn-sm" ng-click="addItem()">添加</button>-->
            <!--<div ng-repeat="item in items">{{item}}</div>-->
        <!--</div>-->
        <!--is-open="status.open" 此项目是打开，还是关闭-->
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>第二个头部
                <i class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': status.open,
                   'glyphicon-chevron-right': !status.open}">
                </i>
            </uib-accordion-heading>
            第二个内容
        </div>
        <!--is-open="status.open" 是否禁用-->
        <div uib-accordion-group class="panel-default" is-open="status.open1">
            <uib-accordion-heading>第三个头部
                <i class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': status.open1,
                   'glyphicon-chevron-right': !status.open1}">
                </i>
            </uib-accordion-heading>
            第三个内容
        </div>
    </uib-accordion>
</div>
<script>
    angular.module('indexApp',['ui.bootstrap','ngAnimate'])
            .controller('indexCtrl',  function ($scope) {
                $scope.oneAtATime = true;

                $scope.items = ['Item 1', 'Item 2', 'Item 3'];

                $scope.addItem = function() {
                    var newItemNo = $scope.items.length + 1;
                    $scope.items.push('Item ' + newItemNo);
                };

            });
</script>
</body>
</html>