html {
  font-size: 625%;
}
body {
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header > span {
  flex-shrink: 0;
  width: 200px;
  height: 7vh;
  line-height: 7vh;
  font-size: 0.15rem;
  text-align: center;
  color: white;
  background: #349293;
}
header > div {
  padding-right: 20px;
}
body > .ng-scope {
  display: flex;
}
.left {
  display: inline-block;
  flex-shrink: 0;
  width: 200px;
  height: 300vh;
  background: #349293;
  text-align: center;
}
.left a {
  display: block;
  width: 200px;
  height: 5vh;
  font-size: 0.15rem;
  color: white;
  line-height: 5vh;
}
.left a:hover {
  background: #ccc;
}
.right {
  padding: 15px;
  height: 89vh;
  overflow: auto;
}
img {
  width: 60px;
  height: 60px;
}
ul {
  margin-top: 5px;
  margin-right: -1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul li {
  margin-left: 10px;
  display: inline-block;
}
ul li input {
  text-align: center;
}
ul li > a {
  padding: 5px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}
table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #ccc;
  border-collapse: collapse;
  text-align: center;
}
table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
}
table tr:nth-child(2n+1) {
  background: #f4f4f4;
}
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
