html {
  font-size: 625%;
}
body {
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header > span {
  flex-shrink: 0;
  width: 200px;
  height: 7vh;
  line-height: 7vh;
  font-size: 0.15rem;
  text-align: center;
  color: white;
  background: #349293;
}
header > div {
  padding-right: 20px;
}
body > .ng-scope {
  display: flex;
}
.left {
  display: inline-block;
  flex-shrink: 0;
  width: 200px;
  height: 300vh;
  background: #349293;
  text-align: center;
}
.left a {
  display: block;
  width: 200px;
  height: 5vh;
  font-size: 0.15rem;
  color: white;
  line-height: 5vh;
}
.left a:hover {
  background: #ccc;
}
.righ {
  padding: 15px;
  width: 100%;
  height: 89vh;
  overflow: auto;
}
.pagination {
  margin-top: 15px;
  margin-right: -1px;
  display: flex;
  align-items: center;
}
.pagination > li > a {
  cursor: pointer;
}
.tblist {
  margin: 0 10px 10px 10px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #ccc;
  border-collapse: collapse;
  display: flex;
  text-align: center;
}
.tblist th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
}
.tblist td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
}
.tblist td img {
  width: 60px;
  height: 60px;
}
.tblist tr:nth-child(2n+1) {
  background: #f4f4f4;
}
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.up {
  padding: 0 15%;
  line-height: .4rem;
}
.up > span {
  margin-right: 30px;
}
.up > input {
  width: 85%;
  display: inline-block;
}
.industry {
  margin-left: 30px;
}
.tip {
  vertical-align: top;
}
.tablecap {
  border: 1px solid #ccc;
}
.tablecap > p {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #eee;
}
.tablecap > p > .btn {
  padding: 0 2px;
}
.edit {
  display: inline-block;
  width: 85%;
}
.edit > div {
  height: 300px;
}
.edit > div > div:last-child {
  height: 285px;
}
.form-control {
  display: inline-block;
  width: 200px;
}
.search {
  font-size: 0.15rem;
  line-height: .4rem;
}
.container {
  margin-left: 48px;
  padding: 0;
  width: 100%;
}
.big {
  font-size: 0.15rem;
}
