@import (reference)"../../task-CSS/sky";
@import (reference)"../../task-CSS/zxxg";
html {  font-size:625% }
@c:#349293;
body {
  .of;
}
header {
  .flex;
  justify-content:space-between;
  align-items:center;

  .bbc;
  >span {
    flex-shrink:0;
    //padding:15px 0;
    width:300px;
    height:7vh;
    line-height:7vh;
    .fz15;
    .tc;
    color:@w;
    background:@c;
  }
  >div {
    padding-right:20px;
    .fz15;
  }
}
body>.ng-scope {
  .flex;
}
.left {
  .dib;
  flex-shrink:0;
  width:300px;
  height:300vh;
  background:@c;
  .tc;
  a{
      .db;
      width:300px;
      height:5vh;
    .fz15;
    color:@w;
      line-height:5vh;
      &:hover {
        background:#ccc;
      }
  }
}
.righ {
  padding:15px;
  width:100%;
  height:89vh;
  overflow:auto;
}

//列表翻页
.pagination {
  .mt15;
  margin-right:-1px;
  .flex;
  //justify-content:flex-end;
  align-items:center;
  >li{
    >a{
      cursor:pointer;
    }
  }
}

//表格
.tblist {
  margin:0 10px 10px 10px;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  .fz15;
  border-width: 1px;
  border-color: #ccc;
  border-collapse: collapse;
  .flex;
  .tc;
  .ova;
  th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
  }
  td {
    border-width: 1px;
    padding: 8px;
    //border-style: solid;
    border-color: #ccc;
    img {
      width:60px;
      height:60px;
    }
  }
  tr:nth-child(2n+1) {
    background:#f4f4f4;
  }
}
//上传文件
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  .vm;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
//表单验证
.up {
  padding:0 15%;
  line-height:.4rem;
  >span {
    .mr30;
  }
  >input {
    .dib;
    width:78%;
    .mr30;
  }
}
.formone {
  .up;
}
.industry {
  .ml30;
}
.tip {
  .vt;

}
.tablecap {
  .bdc;
  border-radius:7px;
  >p {
    .mb10;
    padding:10px;
    .flex;
    .ld;
    .fz15;
    border-bottom:1px solid #ccc;

    >.btn{
      padding:0 2px;
    }
  }
  >ul{
    .fz15;
  }
}
.edit {
  .dib;
  width:78%;
  //margin-right:0;
  >div {
    height:300px;
    >div:last-child {
      height:285px;
    }
  }
}
.form-control {
  .dib;
  width:200px;
}
.search {
  padding:10px 20px;
  .pct100;
  .fz15;
  line-height:.4rem;
  //border:1px solid #000;
  .bdc;
  border-radius:7px;
  >input {
    .ml30;
    .mr30;
  }
  >select {
    .ml30;
    .mr30;
  }
}
.container{
  margin-left:65px;
  padding:0;
  width:83%;
}
.big {
  .fz15;
}
.testing {
  .dib;
  color:red;
}
//列表宽度
.td1 { width:5%; }
.td2 { width:5%; }
.td3 { width:12%; }
.td4 { width:10%; }
.td5 { width:11%; }
.td6 { width:17%; }
.td7 { width:17%; }
.td8 { width:7%; }
.td9 { width:18%; }
//欢迎页
.welcome{
  margin-left:50px;
  .pct70;
  height:85vh;
  background:url(../../images/welcome.jpg) no-repeat;
}
.photo {
  margin-left:78px;
  width:400px;
}