@import (reference)"../../task-CSS/sky";
@import (reference)"../../task-CSS/zxxg";
html {  font-size:625% }
@c:#349293;
body {
  .of;
}
header {
  .flex;
  justify-content:space-between;
  align-items:center;

  .bbc;
  >span {
    flex-shrink:0;
    //padding:15px 0;
    width:200px;
    height:7vh;
    line-height:7vh;
    .fz15;
    .tc;
    color:@w;
    background:@c;
  }
  >div {
    padding-right:20px;
  }
}
body>.ng-scope {
  .flex;
}
.left {
  .dib;
  flex-shrink:0;
  width:200px;
  height:300vh;
  background:@c;
  .tc;
  a{
      .db;
      width:200px;
      height:5vh;
    .fz15;
    color:@w;
      line-height:5vh;
      &:hover {
        background:#ccc;
      }
  }
}
.right {
  padding:15px;
  height:89vh;
  overflow:auto;
}
img {
  width:20px;
  height:20px;
}
