@import (reference)"../sky";

body {
  .m0;
  .yahei;
  .fz;
}

header {
  .abs;
  top:0;
  .m0;
  padding:@5 * 2 0 @5;
  .bai;
  color:@w;
  .tc;
  background:@b;
  .back{
    .abs;
    left:@5 * 2;
    width:@5 * 2.5;
  }
  .home{
    .db;
    .bai;
  }
}

main {
  .flex;
  margin-top:@15 * 3;
  .itemsc;
  .bai;
  height:@100 * 2;
  background:url(../images/work.png);
  background-size:100%;
  .of;
  .women {
    margin:0 @15;
    width:@100;
  }
  .mainright {
    color:@w;
    .fz;
    .year {
      font-size:1.2rem;
    }
    .address {font-size:1.2rem;}
    .shape {width:@5 * 2.5;}
  }
}

ul {
  .m0;
  .p0;
  .fzs;
  margin-bottom:63px;
  li {
    .flex;
    .ml2;
    padding:20px 0;
    .borb;
    .lileft {
      .flex;
      .aic;
      .ml2;
      padding-right:@15;
      margin-right:@15;
      color:#999;
      border-right:1px solid #ccc;
      white-space:nowrap;
    }
    .lileftt {
      .lileft;
      color:black;
    }
    .stars {width:@15;}
    .liright{
      strong { color: red; }
    }
  }
  .skill {
    .m0;
    span {
      .ml2;
      padding-left:15px;
      border-left:2px solid #68cdd5;
    }
  }
}

footer {
  .fix;
  bottom:0;
  padding-bottom:@5 * 4;
  .m0;
  .bai;
  .tc;
  background:white;
  div {
    .dib;
    width:50%;
  }
  button {
    .dib;
    .wushi;
    padding:4px 0;
    .jz;
    width:95%;
    color:@w;
    background:@b;
    .fz;
    .border(2px);
    .br(8px);

  }
  button:focus {
    color:@b;
    background:@w;
  }
}